@use '../base/mixins' as m;
@use '../base/variables' as v;


.seccion-iconos{
    background-color: v.$green;
    .contenedor-iconos{
        padding: 2rem 0;
        @include m.desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
        .contenedor-icono{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            margin: 2rem 0; 
            .icono-texto{
                h4,
                p{
                    text-align: left;
                }
                h4{
                    margin: 0 0 1rem 0;
                    color: v.$brown;
                }
            }
            .icono{
                background-color: v.$orange;
                padding: 1rem;
                border-radius: 50%;
            }
        }
    }
}